body{
    background-image: url(https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMGNvbG91cnxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    margin: 10px;
}

header{
    margin-bottom: 100px;
}

.row{
    color:white;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

#texto1{
    font-size: 40px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
#texto2{
    font-size: 30px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}


#boton1{
    width: 125px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin: auto;
}

#fila1{
    background-color: gray;
}
.nav-link{
    color:white;
    justify-items: right;
}

.carousel{
    height: 350px;
    width: 350px;
    margin-right: auto;

}


h3{
    margin-left: auto;
    margin-top: auto;
}

p{
    font-size: 22px;
    margin-top: 40px;
}