

#Monto1{
    margin-top: 20px;
}

#titulo1{
    margin-top: 150px;
    color:black;
}



#Boton{
    position: relative;
    top: 200px;
    left: 20px;
}

body{
    background-image: url(https://img.freepik.com/fotos-premium/sala-estar-vacia-sofa-azul-plantas-mesa-sobre-fondo-pared-blanca-vacia-representacion-3d_41470-1778.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#Mensaje{
    background-color: black;
}

#lista{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-top: 120px;
}

#m{
    height: 300px;
    padding-top: 100px;
    border-right: 10px;
    border-right-color: white;
    border-style:ridge;

}

#frase{
    text-align: left;
}