

#Monto1{
    background-size: 200px;
    width: 100px;
}

#titulo1{
    margin-top: 240px;
    color:white;
    margin-left: 100px;
}



#Boton{
    position: relative;
    top: 277px;
    left: 20px;
}

body{
    background-image: url(https://fondosmil.com/fondo/20130.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}



#lista{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 120px;
}

#m{
    height: 300px;
    border-radius: 15px;
}

