#Verify{
    margin-top: 50px;
}

#verifyx{
    margin-top: 50px;
}

#imagen1{
    background-size: cover;
    width: 300px;
    height: 250px;
    margin-left: 250px;
    border-left: 20px;
    border-color: black;
    border-style: double;
}

body{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/semana/OGU6RQGPO5CKHDNNX5PYG3NQD4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-label{
    color:white;
}

