#nota{
    position: absolute; 
    top: 45%; 
    left: 0; 
    width: 100%;
    color: white;
}

.thumbnail{
    position: relative;
}

#E1{
    background-color: gray;
}
.form-label{
    margin-top: 150px;
}

.form-label2{
    margin-bottom: 20px;
}